.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
    Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.my-full-screen-dialog .mat-dialog-container {
    max-width: none;
    margin: auto;
}

.camera .btn {
    position: absolute;
    border-radius: 70%;
    width: 60px;
    line-height: 40px;
    background: #018A80;
    bottom: 190px;
    right: 720px;
    color: #fff;
    text-align: center;
  }