.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
    Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.camera .btn {
    position: absolute;
    border-radius: 70%;
    width: 60px;
    line-height: 40px;
    background: #018A80;
    bottom: 130px;
    right: 620px;
    color: #fff;
    text-align: center;
  }

.flash{ 
    background-color: red;
 }
