<mat-toolbar>
    <mat-toolbar-row>
      <span class="left-align-grid" *ngIf="isRecording == false">
        <button mat-icon-button (click)="onStartRecord()"><mat-icon>perm_camera_mic</mat-icon></button>
      </span>
      <span class="left-align-grid" *ngIf="isRecording == true">
          <button mat-icon-button (click)="onStopRecord()"><mat-icon>stop</mat-icon></button>
        </span>
      <span class="example2-fill-remaining-space"></span>
      <span class="example-fill-remaining-space">
        <mat-form-field *ngIf="!changeToListenMode">
          <input matInput [(ngModel)]="messageValue">
        </mat-form-field>
      </span>
      <span class="end-align-grid"><button mat-icon-button (click)="onMessage()"><mat-icon>message</mat-icon></button></span>
    </mat-toolbar-row>
</mat-toolbar>