<mat-toolbar>
    <mat-toolbar-row>
      <span class="left-align-grid" *ngIf="isRecording == false">
        <button mat-icon-button [disabled]="name == null" (click)="onStartRecord()"><mat-icon>perm_camera_mic</mat-icon></button>
      </span>
      <span class="left-align-grid" *ngIf="isRecording == true">
          <button mat-icon-button (click)="onStopRecord()"><mat-icon>stop</mat-icon></button>
      </span>
      <span class="example2-fill-remaining-space"></span>
      <span class="example-fill-remaining-space" *ngIf="isRecording==false">
        <mat-form-field>
          <input matInput [(ngModel)]="messageValue">
        </mat-form-field>
      </span>
      <span class="example-fill-remaining-space" *ngIf="isRecording==true">
        <mat-progress-bar mode="buffer">{{isRecording}}</mat-progress-bar>
      </span>
      
      <span class="end-align-grid" *ngIf="isRecording==false"><button mat-icon-button [disabled]="name == null" (click)="onMessage()"><mat-icon>message</mat-icon></button></span>
    </mat-toolbar-row>
</mat-toolbar>