<mat-toolbar>
    <mat-toolbar-row>  
      <div class="example-fill-remaining-space" *ngIf="isRecording==false">
        <mat-form-field style="width:100% !important">
          <input matInput #chatMsg [(ngModel)]="messageValue" (keyup.enter)="onKeyUpEnter(chatMsg.value)">
        </mat-form-field>
      </div>
      <div class="example-fill-remaining-space" *ngIf="isRecording==true">
        <mat-progress-bar mode="buffer">{{isRecording}}</mat-progress-bar>
      </div>
      <div class="right-align-grid" *ngIf="isRecording==false">
          <button mat-icon-button [disabled]="name == null" (click)="onMessage()"><mat-icon>message</mat-icon></button>
      </div>

      <div class="end-align-grid" *ngIf="isRecording == false">
          <button mat-icon-button [disabled]="name == null" (click)="onStartRecord()"><mat-icon>perm_camera_mic</mat-icon></button>
      </div>
      <div class="end-align-grid" *ngIf="isRecording == true">
        <button mat-icon-button (click)="onStopRecord()"><mat-icon>stop</mat-icon></button>
      </div>  
      
    </mat-toolbar-row>
</mat-toolbar>