/* You can add global styles to this file, and also import other style files */

html, body {
    margin:0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

body {
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    overflow: hidden;
}

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}